@charset "utf-8"; /* 에몬스가구 intro */

#wrap{position:relative;width:100%;overflow:hidden;}
/*----------------------------------------------------------------------------------------------------------------------*/
	#header{z-index:3;position:relative;width:100%;}
		.header-mobile{position:relative;display:none;width:100%;background:#fff;}	
		.header-mobile.addMainFixed{position:fixed;top:0;left:0;}	
			/* 모바일 헤더 탑메뉴 */
			.header-mobile-top-wrap{width:100%;height:50px;border-bottom:1px solid #f0f0f0;}
			.header-mobile-top-wrap>ul{width:100%;}
			.header-mobile-top-wrap>ul>li{float:left;}
			.header-mobile-top-wrap>ul>li:last-child{float:right;}
			.header-mobile-top-wrap>ul>li>a{display:block;padding:7px 7.5px;margin:10px 0 10px 7.5px;}
			.header-mobile-top-wrap>ul>li>a>img{width:15px;padding:2.5px 0;}
			.header-mobile-top-wrap>ul>li>h2>a{display:block;padding:7.5px 0;margin:10px 5px;}
			.header-mobile-top-wrap>ul>li>h2>a>img{width:85px;}
				/* 우측 아이콘 박스 */
				.mobile-aside-wrap{width:100%;padding-right:12.5px;}
				.mobile-aside-wrap>li{display:inline-block;padding:0 2.5px;}
				.mobile-aside-wrap>li>a{display:block;font-size:9px;color:#333;padding-top:23px;margin:8.5px 0;letter-spacing:-0.25px;}
				.mobile-aside-wrap>li:nth-child(1)>a{background:url(../img/moBtn1.jpg) no-repeat 50% 0;background-size:35%;}
				.mobile-aside-wrap>li:nth-child(2)>a{background:url(../img/moBtn2.jpg) no-repeat 50% 0;background-size:45%;}
				.mobile-aside-wrap>li:nth-child(3)>a{background:url(../img/moBtn3.jpg) no-repeat 50% 0;background-size:45%;}
			/* 모바일 헤더 바텀 인풋 */
			.header-mobile-bottom-wrap{position:relative;width:100%;height:50px;border-bottom:1px solid #f0f0f0;}
			.header-mobile-bottom-wrap.addMainFixed{display:none;}
				/* 모바일 헤더 서치 박스 */
				.header-mobile-search-wrap{position:relative;text-align:right;}
				.header-mobile-search-wrap>div{display:inline-block;width:100%;}
				.header-mobile-search-wrap>div>input{z-index:1;position:relative;width:100%;padding:10px 15px;height:50px;box-sizing:border-box;outline:0;color:#333;text-indent:2px;}
				.header-mobile-search-wrap>a{z-index:2;position:absolute;top:0;right:0;display:block;padding:7.5px;margin:10px 15px;}
				.header-mobile-search-wrap>a>img{width:15px;height:15px;}
				/* 서치 박스 TAP 히든 */
				.header-mobile-search-tab{display:none;position:absolute;top:51px;left:0;width:100%;background:#fff;}
				.header-mobile-search-tab>div{padding:20px 15px 5px 10px;}
					/* 상단 : 텝메뉴 박스 */
					.header-mobile-search-tabMenuBtn-warp{width:100%;text-align:center;border-left:1px solid #f0f0f0;border-right:1px solid #f0f0f0;box-sizing:border-box;}
					.header-mobile-search-tabMenuBtn-warp>li{float:left;width:50%;line-height:40px;border-top:1px solid #f0f0f0;border-bottom:1px solid #f0f0f0;background:#f8f8f8;}
					.header-mobile-search-tabMenuBtn-warp>li>a{display:block;font-size:11px;color:#333;font-weight:600;}
					.header-mobile-search-tabMenuBtn-warp>li>a.addTabMenuBtn{background:#fff;}
					/* 중간 : 텝메뉴 컨텐츠 박스 */
					.header-mobile-tabSearch-content-wrap{width:100%;border-left:1px solid #f0f0f0;border-right:1px solid #f0f0f0;box-sizing:border-box;}
					.header-mobile-tabSearch-content-wrap>li{float:left;width:50%;border-bottom:1px solid #f0f0f0;line-height:40px;}
					.header-mobile-tabSearch-content-wrap>li>a{display:block;font-size:12px;color:#333;letter-spacing:-0.25px;text-indent:10px;}
					.header-mobile-tabSearch-content-wrap>li>a:hover{background:#f3f3f3;}
					.header-mobile-tabSearch-content-wrap>li>a:focus{background:#f3f3f3;}
					/* 중간 : 히든 토글 컨텐츠 */		
					.header-mobile-tabSearch-content-1-wrap{display:block;}					
					.header-mobile-tabSearch-content-2-wrap{display:none;}					
					/* 하단 : 닫기 버튼 */
					.header-mobile-search-tabCloseBtn-wrap{width:100%;text-align:center;}
					.header-mobile-search-tabCloseBtn-wrap>a{display:block;line-height:40px;background:#f8f8f8;}
		
		/*--------------------------------------------------------------------*/
		.header-PC{display:block;}
			/* 헤더 탑메뉴 */
			.header-Top{width:100%;border-bottom:1px solid #ededed;}
			.header-Top>div{width:100%;max-width:1200px;margin:0 auto;}
			.header-Top>div>ul{width:100%;}
			.header-Top>div>ul>li{width:100%;}
				aside{width:100%;}
				aside>ul{float:right;padding:12.5px 25px 6.5px 25px;}
				aside>ul>li{float:left;padding-left:12px;margin-left:12px;border-left:1px solid #ededed;}
				aside>ul>li:first-child{padding:0;margin:0;border:0;}
				aside>ul>li>a{display:block;height:15px;font-size:11px;color:#555;}
				aside>ul>li:first-child>a{font-size:12px;color:#222;font-weight:500;margin-top:-1px;}
	
				nav{width:100%;text-align:center;}
				nav>ul{width:100%;}
				nav>ul>li{float:left;}
					.nav-Left-wrap{width:100%;}
					.nav-Left-wrap>li{float:left;width:214px;margin:0 1px;}
					.nav-Left-wrap>li>a{display:block;font-size:11.25px;color:#fff;font-weight:500;}
					.nav-Left-wrap>li:nth-child(1)>a{background:#2c2968;border-top:5px solid #0055b7;padding:16px 0 11px 0;}
					.nav-Left-wrap>li:nth-child(2)>a{background:#004d43;padding:11px 0;border-top:10px solid #fff;transition:all 0.3s;}
					.nav-Left-wrap>li:nth-child(3)>a{background:#45302c;padding:11px 0;border-top:10px solid #fff;transition:all 0.3s;}
					.nav-Left-wrap>li:nth-child(2)>a:hover{border-top:5px solid #009245;padding:16px 0 11px 0;margin:0;transition:all 0.3s;}
					.nav-Left-wrap>li:nth-child(2)>a:focus{border-top:5px solid #009245;padding:16px 0 11px 0;margin:0;transition:all 0.3s;}
					.nav-Left-wrap>li:nth-child(3)>a:hover{border-top:5px solid #7e5b54;padding:16px 0 11px 0;margin:0;transition:all 0.3s;}
					.nav-Left-wrap>li:nth-child(3)>a:focus{border-top:5px solid #7e5b54;padding:16px 0 11px 0;margin:0;transition:all 0.3s;}
					
					.nav-Right-wrap{width:100%;}
					.nav-Right-wrap>li{float:left;width:136px;margin:0 1px;}
					.nav-Right-wrap>li>a{display:block;font-size:11.25px;color:#000;font-weight:500;padding:11px 0;margin-top:10px;background:#dcdcdc;transition:all 0.5s;}
					.nav-Right-wrap>li>a:hover{color:#fff;background:#414042;transition:all 0.5s;}
					.nav-Right-wrap>li>a:focus{color:#fff;background:#414042;transition:all 0.5s;}
		
		/*--------------------------------------------------------------------*/	
			/* 헤더 메인메뉴 */
			.header-Main{position:relative;width:100%;border-bottom:1px solid #f0f0f0;background:#fff;}
			.header-Main.addMainFixed{position:fixed;top:0;left:0;}
			.header-Main>div{padding:0 15px;}
			.header-Main>div>ul{width:100%;}
			.header-Main>div>ul>li{float:left;text-align:center;}
			.header-Main>div>ul>li:last-child{float:right;}
				/* 앱바버튼 */
				.header-Main-allMenuBtn-wrap{padding:18.5px 25px;transition:all 0.3s;}
				.header-Main-allMenuBtn-wrap.addMainFixed{padding:10px 25px;transition:all 0.3s;}
				.header-Main-allMenuBtn-wrap>a{display:inline-block;padding:14.5px 10.5px;}
				.header-Main-allMenuBtn-wrap>a>img{width:29px;}
				/* 로고버튼 */
				.header-Main-logoBtn-wrap{padding:25px 10px;transition:all 0.3s;}
				.header-Main-logoBtn-wrap.addMainFixed{padding:16.5px 10px;transition:all 0.3s;}
				.header-Main-logoBtn-wrap>h2>a{display:block;padding:5px;}
				.header-Main-logoBtn-wrap>h2>a>img{height:27px;}
				/* 메인메뉴 박스 */
				.header-Main-menu{padding-left:30px;transition:all 0.3s;}
				.header-Main-menu>li{float:left;width:120px;transition:all 0.3s;}
				.header-Main-menu>li>span{z-index:2;position:relative;display:inline-block;padding:36px 0;transition:all 0.3s;}
				.header-Main-menu>li>span.addMainFixed{padding:27.5px 0;transition:all 0.3s;}
				.header-Main-menu>li>span.addMainMenuBtn{padding:36px 0 34.5px 0;border-bottom:1.5px solid #1b2265;transition:all 0s;}
				.header-Main-menu>li>span.addMainFixed.addMainMenuBtn{padding:27.5px 0 26px 0;border-bottom:1.5px solid #1b2265;transition:all 0s;}
				.header-Main-menu>li>span>a{display:block;font-size:15px;color:#1b2265;font-weight:600;}
				/* 서치버튼 */
				.header-Main-search{padding:18.5px 5px;transition:all 0.3s;}
				.header-Main-search.addMainFixed{padding:10.5px 5px;transition:all 0.3s;}
				.header-Main-search>li{position:relative;float:left;}
					/* 서치 박스 */
					.header-search-wrap{position:relative;border-bottom:1px solid #ededed;margin-right:15px;}
					.header-search-wrap>div{display:inline-block;}
					.header-search-wrap>div>input{width:195px;height:48px;font-size:14px;color:#a0a0a0;outline:0;padding:10px 0;box-sizing:border-box;transition:all 0.3s;}
					.header-search-wrap>a{display:inline-block;padding:12px 0;}
					.header-search-wrap>a>img{width:24px;height:24px;}
					/* 스마트 필터 */
					.header-Main-search>li>span{display:block;padding:11px 0;}
					.header-Main-search>li>span>a{display:block;}
					.header-Main-search>li>span>a>strong{display:inline-block;font-size:13px;color:#333;text-align:left;padding:4.5px;}
					.header-Main-search>li>span>a>img{width:26px;height:26px;}
		
		/*--------------------------------------------------------------------*/
			/* 서치 박스 TAP 히든 */
			.header-search-tab{display:none;position:absolute;top:69.5px;left:-35px;width:280px;background:#fff;transition:all 0.3s;}
			.header-search-tab.addMainFixed{top:60px;transition:all 0.3s;}
			.header-search-tab>div{padding:15px 10px 5px 10px;}
				/* 상단 : 텝메뉴 박스 */
				.header-search-tabMenuBtn-warp{width:100%;text-align:center;border-left:1px solid #f0f0f0;border-right:1px solid #f0f0f0;box-sizing:border-box;}
				.header-search-tabMenuBtn-warp>li{float:left;width:50%;line-height:40px;border-top:1px solid #f0f0f0;border-bottom:1px solid #f0f0f0;background:#f8f8f8;}
				.header-search-tabMenuBtn-warp>li>a{display:block;font-size:11px;color:#333;font-weight:600;}
				.header-search-tabMenuBtn-warp>li>a.addTabMenuBtn{background:#fff;}
				/* 중간 : 텝메뉴 컨텐츠 박스 */
				.header-tabSearch-content-wrap{width:100%;text-align:left;border-left:1px solid #f0f0f0;border-right:1px solid #f0f0f0;box-sizing:border-box;}
				.header-tabSearch-content-wrap>li{float:left;width:50%;line-height:40px;border-bottom:1px solid #f0f0f0;}
				.header-tabSearch-content-wrap>li>a{display:block;font-size:12px;color:#333;letter-spacing:-0.25px;text-indent:10px;}
				.header-tabSearch-content-wrap>li>a:hover{background:#f3f3f3;}
				.header-tabSearch-content-wrap>li>a:focus{background:#f3f3f3;}
				/* 중간 : 히든 토글 컨텐츠 */		
				.header-tabSearch-content-1-wrap{display:block;}					
				.header-tabSearch-content-2-wrap{display:none;}					
				/* 하단 : 닫기 버튼 */
				.header-search-tabCloseBtn-wrap{width:100%;text-align:center;}
				.header-search-tabCloseBtn-wrap>a{display:block;line-height:40px;background:#f8f8f8;}
		
		/*--------------------------------------------------------------------*/
			/* 메인메뉴 서브 */
			.header-Main-menu-sub{display:none;z-index:1;position:absolute;top:87px;left:0;width:100%;border-bottom:1px solid #f0f0f0;background:rgba(255,255,255,0.95);}
			.header-Main-menu-sub.addMainFixed{top:71px;}
			.header-Main-menu-sub>ul{position:relative;padding:30px 0 30px 115px;}
			.header-Main-menu-sub>ul>li{position:relative;float:left;}
			.header-Main-menu-sub>ul>li:nth-child(1){width:70%;}
			.header-Main-menu-sub>ul>li:nth-child(2){width:30%;}
				/* 우측 텍스트 버튼 */
				.main-menu-sub-button{position:relative;text-align:left;}
				.main-menu-sub-button>ul{display:inline-block;}
				.main-menu-sub-button>ul>li{font-size:14px;font-weight:800;line-height:140%;padding:6px 0;}
				.main-menu-sub-button>ul>li>a{color:#333;}
				.main-menu-sub-button>ul>li>a:hover{color:#212fb2;text-decoration:underline;}
				/* 좌측 이미지 */
				.main-menu-sub-image{position:relative;border-left:1px solid #f0f0f0;padding:0 30px 0 45px;}
				.main-menu-sub-image>span{display:block;}
				.main-menu-sub-image>span>a{display:block;}
				.main-menu-sub-image>span>a>img{width:100%;max-width:370px;}
			
				/* 서브메뉴 히든 */
				.menuBtn-wrap .main-menu-sub-button{height:300px;transition:all 0.3s;}
				.menuBtn-wrap:nth-child(1) .main-menu-sub-button{left:250px;}
				.menuBtn-wrap:nth-child(2) .main-menu-sub-button{left:355px;}
				.menuBtn-wrap:nth-child(3) .main-menu-sub-button{left:215px;}
				.menuBtn-wrap:nth-child(4) .main-menu-sub-button{left:600px;}
				.menuBtn-wrap:nth-child(5) .main-menu-sub-button{left:725px;}
				.menuBtn-wrap:nth-child(6) .main-menu-sub-button{left:850px;}
				.menuBtn-wrap:nth-child(7) .main-menu-sub-button{left:970px;}
			
				/* 서브 서브 */
				.menuBtn-wrap:nth-child(3) .main-menu-sub-button{width:795px;}
				.menuBtn-wrap:nth-child(3) .main-menu-sub-button>ul>li{float:left;width:25%;line-height:100%;padding-right:25px;box-sizing:border-box;}
				.main-menu-sub-cols-wrap{width:100%;height:auto;}
				.main-menu-sub-cols-wrap>li{width:100%;}
				.main-menu-sub-cols-wrap>li:nth-child(1){padding-bottom:30px;}
				.main-menu-sub-cols-wrap>li:nth-child(2){padding-top:34.6px;border-top:1px solid #f0f0f0;}
				
				.main-menu-sub-cols-wrap>li>a{color:#333;}
				.main-menu-sub-cols-wrap>li>a:hover{color:#212fb2;text-decoration:underline;}
				
				.main-menu-sub-cols-wrap>li>ul{width:100%;padding-top:15px;}
				.main-menu-sub-cols-wrap>li>ul>li{float:left;width:50%;padding:5px 0;}
				.main-menu-sub-cols-wrap>li>ul>li>a{font-size:13px;color:#333;font-weight:400;}
				.main-menu-sub-cols-wrap>li>ul>li>a:hover{color:#212fb2;text-decoration:underline;}
			
		/*--------------------------------------------------------------------*/		
			/* 앱바박스 */
			.header-Main-allMenuBox-wrap{display:none;z-index:3;position:absolute;top:0;left:0;width:100%;height:550px;text-align:left;padding-bottom:50px;background:rgba(255,255,255,0.95);border-bottom:1px solid #ededed;overflow:hidden;}
			.header-Main-allMenuBox-wrap>div{width:100%;height:550px;overflow-y:scroll;}
			.header-Main-allMenuBox-wrap>div>ul{width:100%;}
			.header-Main-allMenuBox-wrap>div>ul>li:nth-child(1){position:relative;background:#fff;height:87px;border-bottom:1px solid #ededed;transition:all 0.3s;}
			.header-Main-allMenuBox-wrap>div>ul>li:nth-child(1).addMainFixed{height:70px;transition:all 0.3s;}
				
				/* 앱바박스 : 상단 - 닫기버튼 */
				.allMenuBox-closeBtn-smoll-wrap{position:absolute;top:28px;left:40px;transition:all 0.3s;}
				.allMenuBox-closeBtn-smoll-wrap.addMainFixed{top:20px;transition:all 0.3s;}
				.allMenuBox-closeBtn-smoll-wrap>a{display:block;width:50px;height:30px;text-align:center;}
				.allMenuBox-closeBtn-smoll-wrap>a>img{width:23px;padding:3.5px 0;}
				
				.allMenuBox-closeBtn-big-wrap{position:absolute;top:118px;right:30px;}
				.allMenuBox-closeBtn-big-wrap>a{display:block;width:91px;height:91px;transition:all 0.3s;}
				.allMenuBox-closeBtn-big-wrap>a>img{width:100%;}
				
				/* 앱바박스 : 메뉴 */
				.allMenuBox-Nav-wrap{padding:30px 100px 0 100px;}
				.allMenuBox-Nav-wrap>ul{width:100%;max-width:1530px;}
				.allMenuBox-Nav-wrap>ul>li{float:left;width:11.11111%;padding-bottom:20px;}
				.allMenuBox-Nav-wrap>ul>li:nth-child(3){width:22.22222%;}
				.allMenuBox-Nav-wrap>ul>li>p{display:block;font-size:18.5px;font-weight:800;}
				.allMenuBox-Nav-wrap>ul>li>p>a{color:#222;}
				.allMenuBox-Nav-wrap>ul>li:nth-child(3)>ul{float:left;width:50%;}		
				.allMenuBox-Nav-wrap>ul>li:nth-child(3)>ul>li{padding-bottom:0;}		
					/* 서브메뉴 */
					.allMenuBox-NavSub-wrap{width:100%;padding-top:20px;}
					.allMenuBox-NavSub-wrap>li{font-size:14px;font-weight:600;line-height:200%;text-indent:2px;}
					.allMenuBox-NavSub-wrap>li>a{color:#333;}
					.allMenuBox-NavSub-wrap>li>a:hover{text-decoration:underline;}
					/* 서브서브메뉴 */
					.allMenuBox-NavSubSub-wrap{width:100%;}
					.allMenuBox-NavSubSub-wrap>li{padding:4px 5px;line-height:120%;}
					.allMenuBox-NavSubSub-wrap>li>a{display:inline-block;font-size:12.5px;color:#333;font-weight:400;}
					.allMenuBox-NavSubSub-wrap>li>a:hover{text-decoration:underline;}
				
				/* 앱바박스 : 하단 */
				.allMenuBox-foot-wrap{padding:0 0 30px 130px;}
				.allMenuBox-foot-wrap>ul{width:100%;max-width:1530px;}
				.allMenuBox-foot-wrap>ul>li{width:100%;}
					/* 앱바박스 : 하단의 상단 */
					.allMenuBox-foot-top-wrap{width:100%;padding-bottom:10px;}
					.allMenuBox-foot-top-wrap>li{float:left;}
					.allMenuBox-foot-top-wrap>li>a{display:block;font-size:14px;color:#333;font-weight:900;}
					.allMenuBox-foot-top-wrap>li>a:hover{text-decoration:underline;}
					.allMenuBox-foot-top-wrap>li>i{display:block;width:2px;height:14px;margin:2px 10px;background:#333;}
					/* 앱바박스 : 하단의 하단 */
					.allMenuBox-foot-bottom-wrap{width:100%;}
					.allMenuBox-foot-bottom-wrap>li{float:left;padding-right:10px;margin-right:10px;border-right:1px solid #666;}
					.allMenuBox-foot-bottom-wrap>li:last-child{padding:0;margin:0;border:0;}
					.allMenuBox-foot-bottom-wrap>li>a{display:block;font-size:12px;color:#333;font-weight:600;}
					.allMenuBox-foot-bottom-wrap>li>a:hover{text-decoration:underline;}
					
/*----------------------------------------------------------------------------------------------------------------------*/	
	#main{z-index:2;position:relative;width:100%;}
	#main.addMainFixed{padding-top:71px;}
	#main.addMainFixed2{padding-top:102px;}
	/*--------------------------------------------------------------------*/
		#section1{width:100%;}
		#section1>div{position:relative;width:100%;}
			/* 슬라이드 이미지 박스 */
			.section1-slide-wrap{position:relative;width:100%;overflow:hidden;}
			.section1-slide-wrap>li{position:absolute;top:0;width:100%;height:auto;}
			.section1-slide-wrap>li:nth-child(1){left:	 0%;position:relative;}
			.section1-slide-wrap>li:nth-child(2){left: 100%;}
			.section1-slide-wrap>li:nth-child(3){left: 200%;}
			.section1-slide-wrap>li:nth-child(4){left: 300%;}
			.section1-slide-wrap>li:nth-child(5){left:-100%;}
			.section1-slide-wrap>li>a{width:100%;}
			.section1-slide-wrap>li>a>img{width:100%;}
			/* 우측 화살 */
			.section1-nextBtn-wrap{z-index:2;position:absolute;top:50%;right:50px;margin-top:-75px;}
			.section1-nextBtn-wrap>a{display:block;width:31px;padding:7px 15px;}
			.section1-nextBtn-wrap>a>img{width:100%;}
			/* 좌측 화살 */
			.section1-prevBtn-wrap{z-index:2;position:absolute;top:50%;left:50px;margin-top:-75px;}
			.section1-prevBtn-wrap>a{display:block;width:31px;padding:7px 15px;}
			.section1-prevBtn-wrap>a>img{width:100%;}
			/* 스탑 버튼 */
			.section1-stopBtn-wrap{z-index:2;position:absolute;bottom:50px;right:50px;}
			.section1-stopBtn-wrap>a{display:block;width:20px;height:20px;}
			.section1-stopBtn-wrap>a>img{width:100%;}
			/* 다운 버튼 */
			.section1-downBtn-wrap{z-index:2;position:absolute;bottom:65px;left:50%;margin-left:-32px;}
			.section1-downBtn-wrap>a{display:block;width:34px;height:71px;padding:5px 15px;}
			.section1-downBtn-wrap>a>img{width:100%;padding-top:0;}
			/* 네비 박스 */
			.section1-nav-wrap{z-index:3;position:relative;width:100%;}
			.section1-nav-wrap>ul{width:100%;}
			.section1-nav-wrap>ul>li{position:relative;float:left;width:20%;text-align:center;}
			/* 네비 박스 : 히든 이미지 */
			.section1-nav-wrap>ul>li>a{display:none;position:absolute;top:-148px;left:0;width:100%;}
			.section1-nav-wrap>ul>li>a>img{width:100%;}
			/* 네비 박스 : 버튼 */	
			.section1-nav-wrap>ul>li>span{display:block;width:100%;}
			.section1-nav-wrap>ul>li>span>a{display:block;width:100%;font-size:13px;color:#fff;font-weight:500;padding:8.5px 0;background:#7a7a7a;border-right:1px solid #909090;box-sizing:border-box;}
			.section1-nav-wrap>ul>li:last-child>span>a{border:0;}
			.section1-nav-wrap>ul>li>span>a.addSec1Nav{background:#1b2265;}
			
	/*--------------------------------------------------------------------*/	
		#section2{width:100%;background:#f4f4f4;}
		#section2>div{width:100%;max-width:1210px;margin:0 auto;padding:100px 0 50px 0;text-align:center;}
		#section2>div>h2{text-align:center;}
		#section2>div>h2>strong{display:inline-block;font-size:28px;color:#333;font-weight:900;font-family:'Open';}
		#section2>div>h2>i{display:inline-block;width:50px;height:1px;background:#000;margin:18px 85px;}
		
		.section2-content-wrap{padding-top:50px;}
		.section2-content-wrap>li{float:left;width:33.333333%;padding:0 20px;box-sizing:border-box;}
		.section2-content-wrap>li>a{display:block;background:#000;overflow:hidden;}
		.section2-content-wrap>li>a>img{width:100%;transform:scale(1.0,1.0);transition:all 0.5s;opacity:1;}
		.section2-content-wrap>li>a:hover>img{transform:scale(1.2,1.2);transition:all 0.5s;opacity:0.7;}
		.section2-content-wrap>li>a:focus>img{transform:scale(1.2,1.2);transition:all 0.5s;opacity:0.7;}
		.section2-content-wrap>li>h3{padding:20px 0 10px 0;}
		.section2-content-wrap>li>h3>a{display:inline-block;font-size:16px;color:#222;font-weight:400;}
		.section2-content-wrap>li>h2{padding-bottom:15px;}
		.section2-content-wrap>li>h2>a{display:inline-block;font-size:28px;letter-spacing:-1px;color:#222;font-weight:500;}
		.section2-content-wrap>li>span{display:block;}
		.section2-content-wrap>li>span>a{display:inline-block;font-size:14px;color:#222;padding:10px 15px;border:1px solid #ccc;border-radius:3px;}
		.section2-content-wrap>li>span>a:hover{color:#fff;background:#1b2265;}
		.section2-content-wrap>li>span>a:focus{color:#fff;background:#1b2265;}
		
	/*--------------------------------------------------------------------*/	
		#section3{width:100%;}
		#section3>div{position:relative;width:100%;max-width:1210px;margin:0 auto;padding:80px 200px 100px 200px;text-align:center;}
		#section3>div>h2{padding-bottom:50px;text-align:center;}
		#section3>div>h2>strong{display:inline-block;font-size:28px;color:#333;font-weight:900;font-family:'Open';}
		#section3>div>h2>i{display:inline-block;width:50px;height:1px;background:#000;margin:18px 85px;}
			/* 슬라이드 한 페이지 */
			.section3-slide-wrap{z-index:1;position:relative;overflow:hidden;}
			.section3-slide-wrap>li{position:absolute;top:0;width:100%;padding:0 15px;box-sizing:border-box;}
			.section3-slide-wrap>li>div{width:100%;}	
				
				.section3-slide-wrap>li:nth-child(1){left:   0%;position:relative;}
				.section3-slide-wrap>li:nth-child(2){left: 100%;}
				.section3-slide-wrap>li:nth-child(3){left: 200%;}
				.section3-slide-wrap>li:nth-child(4){left: 300%;}
				.section3-slide-wrap>li:nth-child(5){left:-100%;}
			
				/* 5개 중에 1,2번  */
				.section3-slide-arrow-1-wrap{position:relative;width:100%;}
				.section3-slide-arrow-1-wrap>li:nth-child(1){float:left; width:47%;max-width:550px;margin-top:120px;margin-left:34px;}
				.section3-slide-arrow-1-wrap>li:nth-child(2){float:right;width:31.525423%;max-width:372px;margin-top:18px;margin-right:34px;}
				.section3-slide-arrow-1-wrap>li>div{position:relative;width:100%;}
				.section3-slide-arrow-1-wrap>li>div>span{position:relative;display:block;}
				.section3-slide-arrow-1-wrap>li>div>span>a{position:relative;display:block;}
				.section3-slide-arrow-1-wrap>li>div>span>a>img{z-index:2;position:relative;width:100%;}
				.section3-slide-arrow-1-wrap>li>div>span>a>i  {z-index:1;position:absolute;top:-18px;right:-34px;width:80%;height:100%;background:#e1e1e1;transition:all 0.5s;}
				.section3-slide-arrow-1-wrap>li:nth-child(1)>div:hover>span>a>i{right:100%;width:50%;margin-right:-42.5%;background:#1b2265;transition:all 0.5s;}
				.section3-slide-arrow-1-wrap>li:nth-child(2)>div:hover>span>a>i{right:100%;width:50%;margin-right:-40%;background:#1b2265;transition:all 0.5s;}
				.section3-slide-arrow-1-wrap>li>div>p>a{display:block;font-size:16px;color:#333;font-weight:600;text-align:left;}
				/* 5개 중에 3,4,5번  */
				.section3-slide-arrow-2-wrap{width:80%;padding-top:100px;margin:0 auto;}
				.section3-slide-arrow-2-wrap>li{float:left;width:33.333%;padding:0 35px;box-sizing:border-box;}
				.section3-slide-arrow-2-wrap>li>div{width:100%;}
				.section3-slide-arrow-2-wrap>li>div>span{display:block;}
				.section3-slide-arrow-2-wrap>li>div>span>a{position:relative;display:block;}
				.section3-slide-arrow-2-wrap>li>div>span>a>img{z-index:2;position:relative;width:100%;}
				.section3-slide-arrow-2-wrap>li>div>span>a>i  {z-index:1;position:absolute;top:-18px;right:-34px;width:80%;height:100%;background:#e1e1e1;transition:all 0.5s;}
				.section3-slide-arrow-2-wrap>li>div:hover>span>a>i{right:100%;width:50%;margin-right:-40%;background:#1b2265;transition:all 0.5s;}
				.section3-slide-arrow-2-wrap>li>div>p>a{display:block;font-size:16px;color:#333;font-weight:600;text-align:left;}
			
			/* 이전 버튼 */
			.section3-prevBtn-wrap{z-index:2;position:absolute;top:50%;right:20px;margin-top:-28px;border-bottom:1px solid #ccc;}
			.section3-prevBtn-wrap>a{display:block;height:56px;overflow:hidden;}
			.section3-prevBtn-wrap>a>img{width:100%;margin-top:-56px;}
			/* 다음 버튼 */
			.section3-nextBtn-wrap{z-index:2;position:absolute;top:50%;right:20px;margin-top:28px;}
			.section3-nextBtn-wrap>a{display:block;height:56px;overflow:hidden;}
			.section3-nextBtn-wrap>a>img{width:100%;}
			/* 네비 버튼 */
			.section3-slide-nav-wrap{width:100%;padding-top:50px;text-align:center;}
			.section3-slide-nav-wrap>li{display:inline-block;}
			.section3-slide-nav-wrap>li>span{display:block;width:12px;height:12px;margin:0 5px;}
			.section3-slide-nav-wrap>li>span>a{display:block;width:100%;height:100%;border-radius:50%;background:#ccc;}
			.section3-slide-nav-wrap>li>span>a.addSec3NavBtn{background:#9f9f9f;}
			
	/*--------------------------------------------------------------------*/	
		#section4{width:100%;padding:5.2548607% 0;background:url(../img/intro-section4-bg.jpg) no-repeat 50% 50%;background-size:cover;transition:all 0.3s;}
		#section4>div{position:relative;width:100%;max-width:1250px;margin:0 auto;padding:0 20px;box-sizing:border-box;}
		#section4>div>h2{z-index:2;position:relative;top:0;left:0;width:100%;}
		#section4>div>h2>strong{display:block;padding:0 5%;font-size:40px;color:#333;font-weight:900;font-family:'Open';box-sizing:border-box;}
			/* 슬라이드 한 페이지 */
			.section4-slide-wrap{z-index:1;position:relative;width:100%;font-family:'맑은고딕';}
			.section4-slide-wrap>li{position:absolute;top:0;left:0;width:100%;padding-top:4.1322314%;transition:all 0.3s;}
			
			.section4-slide-wrap>li:nth-child(1){opacity:1;position:relative;}
			.section4-slide-wrap>li:nth-child(2){opacity:0;}
			.section4-slide-wrap>li:nth-child(3){opacity:0;}
			.section4-slide-wrap>li:nth-child(4){opacity:0;}
			.section4-slide-wrap>li:nth-child(5){opacity:0;}
			
				/* 슬라이드 컨텐츠 */
				.section4-slide-content-wrap{position:relative;width:100%;overflow:hidden;}
				.section4-slide-content-wrap>li{position:absolute;top:0;left:0;width:100%;text-align:right;box-sizing:border-box;}

				.section4-slide-content-wrap>li:nth-child(1){z-index:3;padding:0 5%;text-align:left;position:relative;}
				.section4-slide-content-wrap>li:nth-child(1)>div{width:100%;}
				.section4-slide-content-wrap>li:nth-child(1)>div>span{display:block;width:350px;letter-spacing:-0.5px;line-height:180%;}
				.section4-slide-content-wrap>li:nth-child(1)>div>span>i{display:block;font-size:18px;color:#333;}
				.section4-slide-content-wrap>li:nth-child(1)>div>span>a{display:inline-block;font-size:12px;color:#969696;padding-right:40px;margin-top:35px;background:url(../img/btn_more.png) no-repeat 100% 50%;}
				
				.section4-slide-content-wrap>li:nth-child(2){z-index:2;padding:13% 37.5% 0 35%;}
				.section4-slide-content-wrap>li:nth-child(2)>div{width:100%;}
				.section4-slide-content-wrap>li:nth-child(2)>div>span{display:inline-block;width:100%;max-width:332px;}
				.section4-slide-content-wrap>li:nth-child(2)>div>span>a{display:block;width:100%;background:#fff;}
				.section4-slide-content-wrap>li:nth-child(2)>div>span>a>img{width:100%;}
				
				.section4-slide-content-wrap>li:nth-child(3){z-index:1;padding:5% 5% 0 45%;}
				.section4-slide-content-wrap>li:nth-child(3)>div{width:100%;}
				.section4-slide-content-wrap>li:nth-child(3)>div>span{display:inline-block;width:100%;max-width:653px;}
				.section4-slide-content-wrap>li:nth-child(3)>div>span>a{display:block;width:100%;background:#fff;}
				.section4-slide-content-wrap>li:nth-child(3)>div>span>a>img{width:100%;}
			
			/* 슬라이드 네비 박스 */
			.section4-nav-wrap{z-index:2;position:absolute;bottom:20%;left:0;width:100%;padding:0 20px;box-sizing:border-box;}
			.section4-nav-wrap>div{width:100%;padding:0 5%;box-sizing:border-box;}
			/* 다음 버튼 */
			.section4-nextBtn-wrap{display:inline-block;width:20px;height:20px;padding:2.25px 0;overflow:hidden;}
			.section4-nextBtn-wrap>a{display:block;width:100%;height:100%;}
			.section4-nextBtn-wrap>a>img{width:100%;}
			/* 이전 버튼 */
			.section4-prevBtn-wrap{display:inline-block;width:20px;height:20px;padding:2.25px 0;overflow:hidden;}
			.section4-prevBtn-wrap>a{display:block;width:100%;height:100%;}
			.section4-prevBtn-wrap>a>img{width:100%;}
			/* 가운데 텍스트 넘버 */	
			.section4-navText-wrap{display:inline-block;color:#969696;font-weight:900;padding:0 10px;}	
			.section4-navText-wrap>strong{display:inline-block;font-size:20px;}	
			.section4-navText-wrap>i	 {display:inline-block;font-size:20px;}	
			.section4-navText-wrap>small {display:inline-block;font-size:13px;padding:6.5px 0 2px 0;margin-left:-2px;}	
			
	/*--------------------------------------------------------------------*/	
		#section5{width:100%;}
		#section5>div{position:relative;width:100%;max-width:1460px;margin:0 auto;}
		#section5>div>h2{padding:100px 0 50px 0;text-align:center;}
		#section5>div>h2>strong{display:inline-block;font-size:28px;color:#333;font-weight:900;font-family:'Open';}
		#section5>div>h2>i{display:inline-block;width:50px;height:1px;background:#000;margin:18px 85px;transition:all 0.3s;}
		#section5>div>h2>i:first-child{margin-left:0;}
		#section5>div>h2>i:last-child{margin-right:0;}
			/* 슬라이드 박스 */
			.section5-slide-container{position:relative;width:100%;padding:0 50px;box-sizing:border-box;}
			.section5-slide-container>ul{z-index:1;position:relative;width:100%;height:auto;max-width:1240px;margin:0 auto;overflow:hidden;}
			.section5-slide-container>ul>li{position:absolute;top:0;width:25%;}
			.section5-slide-container>ul>li:nth-child(1){left:calc(25%*0);}
			.section5-slide-container>ul>li:nth-child(2){left:calc(25%*1);}
			.section5-slide-container>ul>li:nth-child(3){left:calc(25%*2);}
			.section5-slide-container>ul>li:nth-child(4){left:calc(25%*3);}
			.section5-slide-container>ul>li:nth-child(5){left:calc(25%*4);position:relative;}
			.section5-slide-container>ul>li:nth-child(6){left:calc(25%*5);}
			.section5-slide-container>ul>li:nth-child(7){left:calc(25%*6);}
			.section5-slide-container>ul>li:nth-child(8){left:calc(25%*7);}
				/* 슬라이드 컨텐츠 박스 */
				.section5-slide-content-wrap{width:100%;padding:0 15px;box-sizing:border-box;}
				.section5-slide-content-wrap>span{display:block;}
				.section5-slide-content-wrap>span>a{display:block;}
				.section5-slide-content-wrap>span>a{display:block;}
				.section5-slide-content-wrap>span>a>img{width:100%;}
				.section5-slide-content-wrap>span>a:hover>img{opacity:0.7;}
				.section5-slide-content-wrap>span>a>strong{display:block;font-size:13.5px;color:#696969;letter-spacing:-0.25px;line-height:130%;padding:20px 0 5px 0;}
				.section5-slide-content-wrap>span>a:hover>strong{color:#333;}
			
				/* 이전버튼 */
				.section5-prevBtn-wrap{z-index:2;position:absolute;top:50%;left:16.5px;margin-top:-60px;display:block;width:17px;height:76px;}
				.section5-prevBtn-wrap>a{display:block;width:100%;height:100%;overflow:hidden;}
				.section5-prevBtn-wrap>a>img{width:100%;}
				/* 다음버튼 */
				.section5-nextBtn-wrap{z-index:2;position:absolute;top:50%;right:16.5px;margin-top:-60px;display:block;width:17px;height:76px;}
				.section5-nextBtn-wrap>a{display:block;width:100%;height:100%;overflow:hidden;}
				.section5-nextBtn-wrap>a>img{width:100%;}
		
	/*--------------------------------------------------------------------*/	
		#section6{width:100%;}
		#section6>div{width:100%;max-width:1210px;margin:0 auto;padding:5.25486% 0;}
		#section6>div>ul{width:100%;}
		#section6>div>ul>li{position:relative;float:left;height:100%;}
		#section6>div>ul>li:nth-child(1){width:50%;}
		#section6>div>ul>li:nth-child(2){width:30%;}
		#section6>div>ul>li:nth-child(3){width:20%;}
			/* 좌측 동영상 박스 */
			.section6-cf-video{position:relative;top:0;left:0;width:100%;height:100%;overflow:hidden;}
				.youtub-wrap{z-index:1;position:absolute;top:0;left:0;width:100%;height:100%;}
				.youtub-bg{z-index:2;position:absolute;top:0;left:0;width:100%;height:100%;background:url(../img/intro-section6-main_video_cover.png) no-repeat 50% 50%;background-size:cover;opacity:1;}
				.youtub-bg>a{position:relative;display:block;width:100%;height:100%;}
				.youtub-bg>a>img{position:absolute;top:50%;left:50%;margin-top:-42.5px;margin-left:-42.5px;width:85px;}
			
			/* 가운데 골드 박스 */
			.section6-gold-wrap{width:100%;height:100%;background:#696866 url(../img/intro-section6-bg_pic.jpg) no-repeat 100% 100%;}
			.section6-gold-wrap>ul{width:100%;background:url(../img/intro-section6-bg_gold.jpg) no-repeat 90% 0;letter-spacing:-0.5px;}
			.section6-gold-wrap>ul>li>h3{font-size:16.5px;color:#afaead;padding-bottom:15px;}
			.section6-gold-wrap>ul>li>h2{font-size:22.5px;color:#fff;}
			.section6-gold-wrap>ul>li>h5{font-size:12.5px;color:#afaead;padding-bottom:10px;}
			.section6-gold-wrap>ul>li>h4{font-size:15.5px;color:#fff;}
			
			.section6-gold-wrap>ul>li:nth-child(1){padding:65px 30px 20px 30px;}
			.section6-gold-wrap>ul>li:nth-child(2){padding:20px 30px 0 30px;}
			.section6-gold-wrap>ul>li:nth-child(3){padding:20px 30px 0 30px;}
			
			/* 우측 박스 */
			.section6-icons-wrap{width:100%;height:100%;padding:50px 0;box-sizing:border-box;background:#f8f8f8;}	
			.section6-icons-wrap>div{position:relative;width:100%;height:100%;}	
				/* 슬라이드 컨텐츠 */
				.section6-slide-wrap{z-index:1;position:relative;width:160px;margin:0 auto;overflow:hidden;}	
				.section6-slide-wrap>li{position:absolute;top:0;width:100%;text-align:center;padding:20px 0;}	
				
				.section6-slide-wrap>li:nth-child(1){left:   0%;position:relative;}
				.section6-slide-wrap>li:nth-child(2){left: 100%;}
				.section6-slide-wrap>li:nth-child(3){left: 200%;}
				.section6-slide-wrap>li:nth-child(4){left: 300%;}
				.section6-slide-wrap>li:nth-child(5){left: 400%;}
				.section6-slide-wrap>li:nth-child(6){left:-100%;}
				
				.section6-slide-wrap>li>p{display:block;font-size:17.5px;color:#333;font-weight:600;padding-bottom:20px;}	
				.section6-slide-wrap>li>a{display:inline-block;}	
				.section6-slide-wrap>li>a>img{width:100%;}	
				
				/* 네비 버튼 */
				.section6-navText-wrap{position:absolute;bottom:0;left:0;width:100%;padding-bottom:10px;text-align:center;}
				.section6-navText-wrap>strong{display:inline-block;font-size:18.5px;}
				.section6-navText-wrap>i{display:inline-block;font-size:18px;font-weight:600;}
				.section6-navText-wrap>small{display:inline-block;font-size:14px;font-weight:600;margin-top:5px;margin-left:-2.5px;}
				
				/* 이전 버튼 */
				.section6-prevBtn-wrap{z-index:2;position:absolute;top:50%;left:15px;margin-top:-12px;}
				.section6-prevBtn-wrap>a{display:block;width:12px;height:24px;overflow:hidden;}
				.section6-prevBtn-wrap>a>img{width:100%;}
				/* 다음 버튼 */	
				.section6-nextBtn-wrap{z-index:2;position:absolute;top:50%;right:15px;margin-top:-12px;}
				.section6-nextBtn-wrap>a{display:block;width:12px;height:24px;overflow:hidden;}
				.section6-nextBtn-wrap>a>img{width:100%;margin-top:-24px;}
				
	/*--------------------------------------------------------------------*/	
		#section7{width:100%;}
		#section7>div{width:100%;}
		#section7>div>ul{width:100%;}
		#section7>div>ul>li{position:relative;float:left;}
		#section7>div>ul>li:nth-child(1){width:50%;}
		#section7>div>ul>li:nth-child(2){width:50%;}
		#section7>div>ul>li:nth-child(3){width:33.333%;}
		#section7>div>ul>li:nth-child(4){width:33.333%;}
		#section7>div>ul>li:nth-child(5){width:33.333%;}
			.section7-bg-wrap{position:relative;width:100%;}
			.section7-bg-wrap>a{display:block;width:100%;background:#000;overflow:hidden;}
			.section7-bg-wrap>a>img{width:100%;transform:scale(1,1);transition:all 0.5s;}
			.section7-bg-wrap>a:hover>img{transform:scale(1.1,1.1);transition:all 0.5s;opacity:0.8;}
			.section7-bg-wrap>a:focus>img{transform:scale(1.1,1.1);transition:all 0.5s;opacity:0.8;}
			
			.section7-text-wrap{position:absolute;top:12%;left:5%;}
			.section7-text-wrap>h2{font-size:26px;color:#969696;font-weight:600;letter-spacing:1.5px;}
			.section7-text-wrap>a{display:inline-block;font-size:12px;color:#969696;letter-spacing:-0.5px;text-indent:2px;padding-right:35px;margin-top:30px;background:url(../img/btn_more.png) no-repeat 100% 50%;}
		
/*----------------------------------------------------------------------------------------------------------------------*/		
	#footer{z-index:1;position:relative;width:100%;padding-bottom:30px;border-top:1px solid #f0f0f0;}
	/* 푸터 상단 */
	.footer-top-icons-wrap{width:100%;padding:22px 0;border-bottom:1px solid #ccc;box-sizing:border-box;}
	.footer-top-icons-wrap>ul{width:100%;text-align:center;}
	.footer-top-icons-wrap>ul>li{display:inline-block;float:left;width:14.28571428571429%;}
	.footer-top-icons-wrap>ul>li>div{display:inline-block;}
	.footer-top-icons-wrap>ul>li>div>img{float:left;width:100%;max-width:65px;}
	.footer-top-icons-wrap>ul>li>div>p{float:left;font-size:12px;color:#333;padding:14px 10px;letter-spacing:-0.25px;line-height:140%;text-align:left;}
	/* 푸터 하단 */
	.footer-bottom-wrap{width:100%;max-width:1770px;margin:0 auto;padding:0 20px;box-sizing:border-box;}
	.footer-bottom-wrap>ul{width:100%;}
	.footer-bottom-wrap>ul>li{width:100%;}
	.footer-bottom-wrap>ul>li>p{font-size:10px;color:#555;padding-top:30px;line-height:120%;}
		/* 컨텐츠 박스 3개 */
		.footer-content-wrap{width:100%;}
		.footer-content-wrap>li{float:left;}
		.footer-content-wrap>li:nth-child(1){width:40%;}
		.footer-content-wrap>li:nth-child(2){width:30%;}
		.footer-content-wrap>li:nth-child(3){width:30%;}
			/* 좌측 박스 */
			.footer-content-1-wrap{padding-top:80px;background:url(../img/footer_logo.jpg) no-repeat 0 32.5px;}
			.footer-content-1-wrap>ul{width:100%;}
			.footer-content-1-wrap>ul>li{width:100%;}
			.footer-content-1-wrap>ul>li:last-child{padding-top:20px;}
			.footer-content-1-wrap>ul>li>ul{position:relative;width:100%;}
			.footer-content-1-wrap>ul>li>ul>li{letter-spacing:-0.5px;}
			.footer-content-1-wrap>ul>li>ul>li:nth-child(1){position:relative;}
			.footer-content-1-wrap>ul>li>ul>li:nth-child(2){position:absolute;top:0;right:0;display:inline-block;padding-right:20px;}
			.footer-content-1-wrap>ul>li>ul>li>p{font-size:13px;color:#555;line-height:180%;}
			.footer-content-1-wrap>ul>li>ul>li>p>i{font-size:13px;color:#555;padding-left:15px;}
			.footer-content-1-wrap>ul>li>ul>li>p>a{font-size:13px;color:#555;padding-left:5px;}
			.footer-content-1-wrap>ul>li>ul>li>a{display:inline-block;font-size:13px;color:#555;line-height:180%;margin-top:23px;}
			/* 가운데 박스 */
			.footer-content-2-wrap{width:100%;margin-top:80px;padding-left:30px;border-left:1px solid #f0f0f0;box-sizing:border-box;}
			.footer-content-2-wrap>span{display:block;}
			.footer-content-2-wrap>span>a:nth-child(1){display:block;font-size:15px;color:#222;}
			.footer-content-2-wrap>span>a:nth-child(2){display:inline-block;font-size:13px;color:#555;margin:16px 50px 0 0;}
			.footer-content-2-wrap>span>i{display:inline-block;font-size:13px;color:#555;margin-top:16px;}
			.footer-content-2-wrap>ul{width:100%;padding-top:20px;}
			.footer-content-2-wrap>ul>li{width:100%;line-height:300%;}
			.footer-content-2-wrap>ul>li>a{font-size:18.5px;color:#555;}
			/* 우측 박스 */
			.footer-content-3-wrap{width:100%;margin-top:80px;padding-left:30px;border-left:1px solid #f0f0f0;box-sizing:border-box;background:url(../img/ssl.jpg) no-repeat 100% 0;}
			.footer-content-3-wrap>span{display:block;line-height:250%;}
			.footer-content-3-wrap>span>a{display:inline-block;font-size:15px;color:#555;}
			.footer-content-3-wrap>ul{width:100%;padding-top:78px;text-align:left;}
			.footer-content-3-wrap>ul>li{display:inline-block;padding:0 2.5px;}
			.footer-content-3-wrap>ul>li>a{display:block;width:42px;height:42px;overflow:hidden;text-align:center;}
			.footer-content-3-wrap>ul>li>a>img{width:100%;height:100%;}

/*----------------------------------------------------------------------------------------------------------------------*/
	#footer-ansim-wrap{z-index:3;position:fixed;bottom:0;left:0;width:100%;}
		/* 안심 컨텐츠 */
		.footer-ansim-content-wrap{position:relative;bottom:0;left:0;width:100%;padding:25px 0;border-top:1px solid #2590d3;background:rgba(244,244,244,0.9);}
		.footer-ansim-content-wrap>a{z-index:2;position:relative;display:block;text-align:center;}
		.footer-ansim-content-wrap>a>span:nth-child(1){display:block;padding-bottom:20px;}
		.footer-ansim-content-wrap>a>span:nth-child(1)>i{display:inline-block;font-size:23.5px;color:#163f8a;}
		.footer-ansim-content-wrap>a>span:nth-child(1)>i:nth-child(2){font-weight:600;}
		.footer-ansim-content-wrap>a>span:nth-child(1)>i:nth-child(3){color:#2590d3;}
		.footer-ansim-content-wrap>a>span:nth-child(2){display:block;font-size:14.5px;color:#002270;line-height:150%}
		.footer-ansim-content-wrap>a>span:nth-child(2)>i{display:block;font-size:13.5px;color:#222;}
			/* 닫기 버튼 */
			.ansimCloseBtn-wrap{z-index:3;position:absolute;top:0;right:0;}		
			.ansimCloseBtn-wrap>a{display:block;width:50px;height:50px;}		
			.ansimCloseBtn-wrap>a>img{width:100%;}		
			/* 안심 토글 */
			.footer-ansimBtn-wrap{z-index:1;position:absolute;top:0;left:50%;margin-left:-100px;height:30px;text-align:center;}
			.footer-ansimBtn-wrap>a{display:inline-block;font-size:13px;color:#fff;font-weight:600;padding:8.5px 25px;border-radius:10px 10px 0 0;background:#2590d3;}
	
	#footer-ansim-2-wrap{display:none;padding:10px 5%;text-align:center;}
	#footer-ansim-2-wrap>div{width:100%;margin:0 auto;padding:25px 5% 15px 5%;border:1px solid #2590d3;box-sizing:border-box;}
	#footer-ansim-2-wrap>div>h2{font-size:14.5px;color:#163f8a;padding-bottom:10px;}
	#footer-ansim-2-wrap>div>h2>span{font-weight:900;padding-left:5px;}
	#footer-ansim-2-wrap>div>h1{font-size:22.5px;color:#2590d3;padding-bottom:15px;}
	#footer-ansim-2-wrap>div>p{font-size:11.5px;color:#002270;line-height:150%;}
	#footer-ansim-2-wrap>div>span{font-size:11.5px;color:#222;line-height:150%;}
	
/*----------------------------------------------------------------------------------------------------------------------*/	
	#mobile-menu-wrap{display:none;z-index:5;position:fixed;top:0;left:0;width:100%;height:100%;}
	#mobile-menu-wrap>div:nth-child(1){z-index:2;position:absolute;top:0;left:-100%;width:93%;height:100%;overflow-y:scroll;background:#fff;}
	#mobile-menu-wrap>div:nth-child(2){z-index:1;position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.35);opacity:0;}
		/* 모바일 메뉴 닫기 버튼 */
		.mobileMenuCloseBtn-wrap{position:absolute;top:14px;right:15px;}
		.mobileMenuCloseBtn-wrap>a{display:block;width:24px;height:24px;}
		.mobileMenuCloseBtn-wrap>a>img{width:100%;height:100%;}
		
		/* 모바일 어사이드 메뉴 */
		.mobile-aside-wrap{width:100%;}
			/* 모바일 어사이드 상단 */
			.mobile-aside-top-wrap{padding:18px 15px;text-align:left;}
			.mobile-aside-top-wrap>li{display:inline-block;line-height:16px;padding-right:15px;}
			.mobile-aside-top-wrap>li>a{display:block;font-size:11.5px;color:#333;font-weight:600;padding-left:15px;}
			.mobile-aside-top-wrap>li:nth-child(1)>a{background:url(../img/btn_lnb1.png) no-repeat 0 50%;background-size:10px auto;}
			.mobile-aside-top-wrap>li:nth-child(2)>a{background:url(../img/btn_lnb2.png) no-repeat 0 50%;background-size:10px auto;}
			/* 모바일 어사이드 하단 */
			.mobile-aside-bottom-wrap{border-top:1px solid #f0f0f0;border-bottom:1px solid #f0f0f0;text-align:center;}
			.mobile-aside-bottom-wrap>li{float:left;width:25%;border-right:1px solid #f0f0f0;box-sizing:border-box;}
			.mobile-aside-bottom-wrap>li:last-child{border:0;}
			.mobile-aside-bottom-wrap>li>a{display:block;font-size:10px;color:#333;padding:35px 0 8px 0;}
			.mobile-aside-bottom-wrap>li:nth-child(1)>a{background:url(../img/btn_lnb3.png) no-repeat 50% 30%;background-size:15px auto;}
			.mobile-aside-bottom-wrap>li:nth-child(2)>a{background:url(../img/btn_lnb4.png) no-repeat 50% 30%;background-size:15px auto;}
			.mobile-aside-bottom-wrap>li:nth-child(3)>a{background:url(../img/btn_lnb5.png) no-repeat 50% 30%;background-size:15px auto;}
			.mobile-aside-bottom-wrap>li:nth-child(4)>a{background:url(../img/btn_lnb6.png) no-repeat 50% 30%;background-size:15px auto;}
			
			.mobile-aside-bottom-wrap>li:nth-child(1)>a:hover{background:#f8f8f8 url(../img/btn_lnb3.png) no-repeat 50% 30%;background-size:15px auto;}
			.mobile-aside-bottom-wrap>li:nth-child(2)>a:hover{background:#f8f8f8 url(../img/btn_lnb4.png) no-repeat 50% 30%;background-size:15px auto;}
			.mobile-aside-bottom-wrap>li:nth-child(3)>a:hover{background:#f8f8f8 url(../img/btn_lnb5.png) no-repeat 50% 30%;background-size:15px auto;}
			.mobile-aside-bottom-wrap>li:nth-child(4)>a:hover{background:#f8f8f8 url(../img/btn_lnb6.png) no-repeat 50% 30%;background-size:15px auto;}
			
			.mobile-aside-bottom-wrap>li:nth-child(1)>a:focus{background:#f8f8f8 url(../img/btn_lnb3.png) no-repeat 50% 30%;background-size:15px auto;}
			.mobile-aside-bottom-wrap>li:nth-child(2)>a:focus{background:#f8f8f8 url(../img/btn_lnb4.png) no-repeat 50% 30%;background-size:15px auto;}
			.mobile-aside-bottom-wrap>li:nth-child(3)>a:focus{background:#f8f8f8 url(../img/btn_lnb5.png) no-repeat 50% 30%;background-size:15px auto;}
			.mobile-aside-bottom-wrap>li:nth-child(4)>a:focus{background:#f8f8f8 url(../img/btn_lnb6.png) no-repeat 50% 30%;background-size:15px auto;}
			
		/* 모바일 메인 메뉴 */
		.mobile-mainMenu-wrap{width:100%;padding:20px 0;}
		.mobile-mainMenu-wrap>ul{width:100%;}
		.mobile-mainMenu-wrap>ul>li{line-height:35px;border-top:1px solid #f0f0f0;}
		.mobile-mainMenu-wrap>ul>li:first-child{border:0;}
		.mobile-mainMenu-wrap>ul>li>a{display:block;padding:0 15px;font-size:14px;color:#222;font-weight:600;background:url(../img/ico_lnb-1.jpg) no-repeat 98% 12.5px;background-size:10px auto;}
		.mobile-mainMenu-wrap>ul>li>a:hover{background-color:#f1f1f1;}
		.mobile-mainMenu-wrap>ul>li>a.addMainBtn{background:url(../img/ico_lnb-2.jpg) no-repeat 98% 12.5px;background-size:10px auto;}
			/* 모바일 서브 메뉴 */
			.mobile-subMenu-wrap{display:none;width:100%;background:#fdfdfd;border-top:1px solid #f0f0f0;}
			.mobile-subMenu-wrap>li{padding:0 15px;line-height:30px;}
			.mobile-subMenu-wrap>li>a{display:block;font-size:11px;color:#333;font-weight:600;text-indent:5px;}
			.mobile-subMenu-wrap>li>a:hover{color:#212fb2;font-weight:900;}
				/* 모바일 서브 서브 메뉴 */	
				.mobile-subSubMenu-wrap{padding:8px;background:#f8f8f8;}
				.mobile-subSubMenu-wrap>li{float:left;width:33.33333%;}
				.mobile-subSubMenu-wrap>li>a{display:block;font-size:11px;color:#222;text-indent:10px;}
				.mobile-subSubMenu-wrap>li>a:hover{color:#212fb2;font-weight:900;}
		
		/* 모바일 패밀리 사이트 */
		.mobile-family-site-wrap{padding:15px 0 90px 0;background:#f8f8f8 url(../img/bg_lnb.jpg) no-repeat 100% 95%;background-size:157px auto;}
		.mobile-family-site-wrap>ul{width:100%;}
		.mobile-family-site-wrap>ul>li{width:100%;line-height:250%;margin-top:10px;}
		.mobile-family-site-wrap>ul>li:first-child{margin:0;}
		.mobile-family-site-wrap>ul>li>a{display:inline-block;font-size:13px;color:#555;padding:0 22px;letter-spacing:-0.5px;transition:all 0.3s;}
		.mobile-family-site-wrap>ul>li>a:hover{font-weight:600;color:#fff;background:#1b2265;transition:all 0.3s;}
		.mobile-family-site-wrap>ul>li>a.addFamilySiteBtn{font-weight:600;color:#fff;background:#1b2265;}
		.mobile-family-site-wrap>ul>li>a>span{font-size:15px;font-weight:600;padding-left:5px;}
	
/*----------------------------------------------------------------------------------------------------------------------*/	
	#mobile-asideMenu-wrap{display:none;z-index:5;position:fixed;top:0;left:0;width:100%;height:100%;}
	#mobile-asideMenu-wrap>div:nth-child(1){z-index:2;position:absolute;top:0;right:-100%;width:93%;height:100%;padding-top:50px;overflow-y:scroll;background:#f8f8f8;}
	#mobile-asideMenu-wrap>div:nth-child(2){z-index:1;position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.35);opacity:0;}
	
	#mobile-asideMenu-wrap>div>ul{padding-bottom:125px;background:url(../img/bg_topMenu.jpg) no-repeat 100% 100%;background-size:256px auto;}
	#mobile-asideMenu-wrap>div>ul>li{width:100%;}
	#mobile-asideMenu-wrap>div>ul>li>a{display:inline-block;font-size:13px;color:#555;padding:0 22px;line-height:30px;}
	#mobile-asideMenu-wrap>div>ul>li>a.addMobileAsideMenuBtn{color:#fff;background:#1b2265;line-height:40px;}
	#mobile-asideMenu-wrap>div>ul>li>a>span{display:inline-block;font-weight:600;}
		
/*----------------------------------------------------------------------------------------------------------------------*/	
	#goTopBtn-wrap{display:none;z-index:4;position:fixed;bottom:20px;right:20px;width:50px;height:50px;}	
	#goTopBtn-wrap>span{display:block;}	
	#goTopBtn-wrap>span>a{display:block;}	
	#goTopBtn-wrap>span>a>img{width:100%;}	
	
/*----------------------------------------------------------------------------------------------------------------------*/
	#markUp-wrap{z-index:2;position:absolute;bottom:5px;left:0;width:100%;padding:0 20px;box-sizing:border-box;}
	#markUp-wrap>p{display:inline-block;}
	
/*--------------------------------The end-------------------------------------------------------------------------------*/

		













